body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fe7330 0%, #ff5860 100%);
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body *{
    box-sizing: inherit;
}

#app{
    height: 100vh;
}

.detail-task{
    position: fixed;
    right: 0;
    width: 300px;
    background-color: #fff;
    top: 0;
    height: 100%;
    padding: 30px;
    // transform: translateX(100%);
    transition: .5s all;   

    

/*     &.active{
        transform: translateX(0);
    } */

    &__header{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


    &__title{
        white-space: normal;
        word-break: break-all;
        max-width: 100%;
        margin-left: 7px;
        font-size: 15px;
        padding: 5px;
        flex-basis: calc(100% - 30px);     

        &--input{
            border: 1px solid #eee;
            font-family: sans-serif;
            line-height: 1.3;
            outline: none;
        }
    }


    &__descr {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: pointer;
        padding: 10px;
        white-space: normal;
        word-wrap: break-word;
    
        &--textarea{
            width: 100%;
            height: 400px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            border: none;
            resize: vertical;
            padding: 10px;
            outline-color: #fe5e55;
            box-shadow: 0px 0px 1px 1px #e6b2af;            
        }
    }

    &__list{
        list-style: none;
    }

    span, svg{
        vertical-align: middle;
    }
}


.modal{
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    &.active{
        opacity: 1;
        visibility: visible;
     }

    &__content{
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        max-width: 500px;
        padding: 20px;
        background: #fafafa;
        -webkit-box-shadow: 0 1px 25px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        box-shadow: 0 1px 25px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        -webkit-border-radius: 3px;
        border-radius: 3px;
        max-height: 100%;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -150%);
        transition: .5s ease-in-out;


        &.active{
            opacity: 1;
            visibility: visible;
            transform:translate(-50%, -50%);
        }
    }


    &__name{
        font-weight: bold;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.5;
    }

    &__buttons{
        display: flex;
        justify-content: center;
    }


    &__button{
        border-radius: 2px;
        padding: 7px 15px;
        border: none;
        background-color: #fff;
        margin: 0 10px;
        cursor: pointer;

        &--cancel{
            color: #777;
            box-shadow: inset 0 0 0 1px #ccc;
        }

        &--delete{
            background-color: #328ad6;
            box-shadow: inset 0 0 0 1px #328ad6;
            color: #fff;
        }
    }
}


/* Add Task */


.add-task{
    &__input{
        width: 100%;
        padding: 15px;
        background-color: rgba(188,74,58,0.75);
        border: none;
        color: #fff;
        outline: none;
        font-size: 17px;

        &::-webkit-input-placeholder {color: pink;}
        &::-moz-placeholder {color: pink;}
        &:-ms-input-placeholder {color: pink;}
        &:-moz-placeholder {color: pink;}
    }
}

.task-lists{
    list-style: none;
    padding-left: 10px;
}

.task-list{
    padding-left: 10px;
    margin-bottom: 30px;

    &__title{
        color: #fff;
        padding: 6px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 13px;
        display: inline-block;
        box-sizing: border-box;
        line-height: 16px;
        border-radius: 3px;
        background-color: rgba(188,74,58,0.75);
    }

    &__list{
        padding-left: 0;
    }
}



.task{
    user-select: none;
    background: #fff;
    list-style: none;
    height: 46px;
    border-radius: 3px;
    display: flex;
    padding-left: 15px;
    padding-right: 4px;
    align-items: center;
    position: relative;
    margin-bottom: 7px;
    position: relative;

    &--done{
        opacity: 0.6;
    }

    &__text{
        padding-left: 5px;
    }

    &__check{
        stroke: rgba(0,0,0,0.35);
        cursor: pointer;
    }

    &__checked{
        fill: rgba(0,0,0,0.35);
        cursor: pointer;
    }

    &__trash{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: .3s all;

        &:hover{
            fill: crimson;
        }
    }
}



.context-menu{
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: auto;
    display: inline-block;
    padding: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    transform: translateY(10px);

    transition: .3s all;

    &.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }



        &__list{
            list-style: none;
            padding: 10px 0;
            margin: 0;
        }


        &__item{
            padding: 5px 15px;
            font-size: 14px;
            cursor: pointer;
            transition: .3s all;

            &:hover{
                background-color: rgba(188,74,58,0.1);
            }
        }


}